.main-header {
    background: rgb(224, 164, 164);
    $textcolor: #fff;

    .navbar-toggler {
        margin: 0.7rem auto;
        border-color: $textcolor;

    }

    a.navbar-brand,
    .nav-item a.nav-link {
        color: var(--white-text-color);
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
    }

    a.navbar-brand {
        font-size: 2rem;
    }

    .nav-item {
        a.nav-link {
            font-size: 1.2rem;

            &:hover,
            &.active {
                background-color: var(--main-color);
            }
        }
    }
}
