.music-details {
    .fa-music {
        font-size: 10rem;
        margin-bottom: 5rem;
    }

    .music-title {
        text-decoration: none;
        font-size: 1.5rem;
        text-align: center;
    }

}
